<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

 <web-app>
 <servlet>
		<servlet-name>IndexWebSocket</servlet-name>
		<servlet-class>controller.IndexWebSocket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexWebSocket</servlet-name>
		<url-pattern>/indexWebSocket</url-pattern>
	</servlet-mapping>

 	<servlet>
 		<servlet-name>CountDown</servlet-name>
 		<servlet-class>controller.CountDownController</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>CountDown</servlet-name>
 		<url-pattern>/add</url-pattern>
 	</servlet-mapping>

  <servlet>
    <servlet-name>DeleteCountDown</servlet-name>
    <servlet-class>controller.DeleteCountDownController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCountDown</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>

 </web-app>
